{% extends 'base.html.twig' %}

{% block title %}
    {{ 'Comments List'|trans }}
{% endblock %}

{% block body %}
    {% if is_granted('ROLE_ADMIN') %}
    <h1>{{ 'Comments List'|trans }}</h1>
    {% if is_granted('ROLE_ADMIN') %}
        <a href="{{ url('comment_create') }}" title="{{ 'action.create'|trans }}">
            {{ 'Create a new comment'|trans }}
        </a>
    {% endif %}
    {% if pagination is defined and pagination.items|length %}

        <div class="navigation text-center">
            {{ knp_pagination_render(pagination) }}
        </div>

        <table class="table table-striped">
            <thead>
            <tr>
                <th>{{ knp_pagination_sortable(pagination, 'Id'|trans, 'comment.id') }}</th>
                <th>{{ knp_pagination_sortable(pagination, 'Created at'|trans, 'comment.createdAt') }}</th>
                <th>{{ knp_pagination_sortable(pagination, 'Updated at'|trans, 'comment.updatedAt') }}</th>
                <th>{{ knp_pagination_sortable(pagination, 'Title'|trans, 'comment.title') }}</th>
                <th>{{ knp_pagination_sortable(pagination, 'Author'|trans, 'comment.author') }}</th>
                <th>{{ knp_pagination_sortable(pagination, 'Task'|trans, 'task.title') }}</th>
                <th>{{ 'Actions'|trans }}</th>
            </tr>
            </thead>
            <tbody>
            {% for comment in pagination.items %}
                <tr>
                    <td>{{ comment.id }}</td>
                    <td>{{ comment.createdAt|format_date('long') }}</td>
                    <td>{{ comment.updatedAt|format_date('long') }}</td>
                    <td>{{ comment.title }}</td>
                    <td>
                        <a class="btn btn-outline-secondary" href="{{ url('user_show', {id: comment.author.id}) }}">{{ comment.author }}</a>
                    </td>
                    <td>
                        <a class="btn btn-outline-info" href="{{ url('task_show', {id: comment.task.id}) }}">{{ comment.task.title }}</a>
                    </td>
                    <td>
                        {# {% if is_granted('VIEW', comment) %} #}
                            <a class="btn btn-outline-primary" href="{{ url('comment_show', {id: comment.id}) }}" title="{{ 'action.show'|trans }}">
                                {{ 'Show'|trans }}
                            </a>
                        {# {% endif %} #}
                        {# {% if is_granted('EDIT', comment) %} #}
                        {% if is_granted('ROLE_ADMIN') %}
                            <a class="btn btn-outline-success" href="{{ url('comment_edit', {id: comment.id}) }}" title="{{ 'action.edit'|trans }}">
                                {{ 'Edit'|trans }}
                            </a>
                         {% endif %}
                        {# {% if is_granted('DELETE', comment) %} #}
                        {% if is_granted('ROLE_ADMIN') %}
                            <a class="btn btn-outline-danger" href="{{ url('comment_delete', {id: comment.id}) }}" title="{{ 'action.delete'|trans }}">
                                {{ 'Delete'|trans }}
                            </a>
                         {% endif %}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

        <div class="navigation text-center">
            {{ knp_pagination_render(pagination) }}
        </div>

    {% else %}
        <p>
            {{ 'message.empty_list'|trans }}
        </p>
    {% endif %}
    {% else %}
        <p>{{ 'Access denied'|trans }}</p>
    {% endif %}
{% endblock %}