{% extends 'base.html.twig' %}

{% block title %}
    {{ 'title.comment_details'|trans({'%id%': comment.id|default('')}) }}
{% endblock %}

{% block body %}
    <h1>{{ 'title.comment_details'|trans({'%id%': comment.id|default('')}) }}</h1>
    {% if comment is defined and comment|length %}
        <dl class="dl-horizontal">
            {% if is_granted('ROLE_ADMIN') %}
            <dt>{{ 'label.id'|trans }}</dt>
            <dd>{{ comment.id }}</dd>
            {% endif %}
            <dt>{{ 'label.created_at'|trans }}</dt>
            <dd>{{ comment.createdAt|format_date('long') }}</dd>
            <dt>{{ 'label.updated_at'|trans }}</dt>
            <dd>{{ comment.updatedAt|format_date('long') }}</dd>
            <dt>{{ 'label.title'|trans }}</dt>
            <dd>{{ comment.title }}</dd>
            <dt>{{ 'label.author'|trans }}</dt>
            <dd>
                <a class="btn btn-outline-secondary" href="{{ url('user_show', {id: comment.author.id}) }}">{{ comment.author }}</a>
            </dd>
            <dt>{{ 'label.task'|trans }}</dt>
            <dd>
                <a class="btn btn-outline-success" href="{{ url('task_show', {id: comment.task.id}) }}">{{ comment.task.title }}</a>
            </dd>
        </dl>
        <p>
            <a class="btn btn-secondary btn-sm" href="{{ url('comment_index') }}" title="{{ 'action.back_to_list'|trans }}">
                {{ 'action.back_to_list'|trans }}
            </a>
        </p>
    {% else %}
        <p>
            {{ 'message.record_not_found'|trans }}
        </p>
    {% endif %}
{% endblock %}