{% extends 'base.html.twig' %}

{% block title %}
    Hello {{ name }}!
{% endblock %}

{% block body %}
    <h1>{{ 'About page'|trans }}</h1>
    <p>
        {{ 'The author of this website is Ignacy Pstrągowski.'|trans }}
        <br><br>
        {{ 'Notka1'|trans }}
        <br>
        {{ 'Notka2'|trans }}
    </p>
{% endblock %}