{% extends 'base.html.twig' %}

{% block title %}
    {{ 'User Account'|trans({'%id%': user.id|default('')}) }}
{% endblock %}

{% block body %}
    <h1>{{ 'User Account'|trans({'%id%': user.id|default('')}) }}</h1>
    {% if user is defined and user|length %}
        <dl class="dl-horizontal">
            {% if is_granted('ROLE_ADMIN') %}
                <dt>{{ 'label.id'|trans }}</dt>
                <dd>{{ user.id }}</dd>
            {% endif %}
            <dt>{{ 'label.nick'|trans }}</dt>
            <dd>{{ user.nick }}</dd>
            <dt>{{ 'label.email'|trans }}</dt>
            <dd>{{ user.email }}</dd>
            <dt>{{ 'label.roles'|trans }}</dt>
            <dd>{{ user.roles|join(', ') }}</dd>
        </dl>
        <a class="btn btn-outline-success" href="{{ url('user_editNick', {id: user.id}) }}" title="{{ 'Change Nick'|trans }}">
            {{ 'Change Nick'|trans }}
        </a>
        <a class="btn btn-outline-success" href="{{ url('user_editPassword', {id: user.id}) }}" title="{{ 'Change Password'|trans }}">
            {{ 'Change Password'|trans }}
        </a>
    {% else %}
        <p>
            {{ 'message.record_not_found'|trans }}
        </p>
    {% endif %}
{% endblock %}