{% extends 'base.html.twig' %}

{% block title %}
    {{ 'Users List'|trans }}
{% endblock %}

{% block body %}
    {% if is_granted('ROLE_ADMIN') %}
    <h1>{{ 'Users List'|trans }}</h1>
    <div class="text-center">
        <a class="btn btn-primary" href="{{ url('user_create') }}" title="{{ 'action.create'|trans }}">
        {{ 'Create a new user'|trans }}
        </a>
    </div>
    {% if pagination is defined and pagination.items|length %}

        <div class="navigation text-center">
            {{ knp_pagination_render(pagination) }}
        </div>

        <table class="table table-striped">
            <thead>
            <tr>
                <th>{{ knp_pagination_sortable(pagination, 'Id'|trans, 'user.id') }}</th>
                <th>{{ knp_pagination_sortable(pagination, 'Nick'|trans, 'user.nick') }}</th>
                <th>{{ knp_pagination_sortable(pagination, 'Email'|trans, 'user.email') }}</th>
                <th>{{ knp_pagination_sortable(pagination, 'Roles'|trans, 'user.roles') }}</th>
                <th>{{ knp_pagination_sortable(pagination, 'Password'|trans, 'user.password') }}</th>
                <th>{{ 'Actions'|trans }}</th>
            </tr>
            </thead>
            <tbody>
            {% for user in pagination.items %}
                <tr>
                    <td>{{ user.id }}</td>
                    <td>{{ user.nick }}</td>
                    <td>{{ user.email }}</td>
                    <td>{{ user.roles|join(', ') }}</td>
                    <td>{{ user.password }}</td>
                    <td>
                        <a class="btn btn-outline-primary" href="{{ url('user_show', {id: user.id}) }}" title="{{ 'action.show'|trans }}">
                            {{ 'Show'|trans }}
                        </a>
                        <a class="btn btn-outline-success" href="{{ url('user_edit', {id: user.id}) }}" title="{{ 'action.edit'|trans }}">
                            {{ 'Edit'|trans }}
                        </a>
                        <a class="btn btn-outline-danger" href="{{ url('user_delete', {id: user.id}) }}" title="{{ 'action.delete'|trans }}">
                            {{ 'Delete'|trans }}
                        </a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

        <div class="navigation text-center">
            {{ knp_pagination_render(pagination) }}
        </div>

    {% else %}
        <p>
            {{ 'message.empty_list'|trans }}
        </p>
    {% endif %}
    {% else %}
        <p>{{ 'Access denied'|trans }}</p>
    {% endif %}
{% endblock %}