{% extends 'base.html.twig' %}

{% block title %}
    {{ 'Tasks List'|trans }}
{% endblock %}

{% block body %}
    <h1>{{ 'Tasks List'|trans }}</h1>
    {% if is_granted('ROLE_ADMIN') %}
        <a href="{{ url('task_create') }}" title="{{ 'action.create'|trans }}">
            {{ 'Create a new task'|trans }}
        </a>
    {% endif %}
    {% if pagination is defined and pagination.items|length %}

        <div class="navigation text-center">
            {{ knp_pagination_render(pagination) }}
        </div>

        <table class="table table-striped">
            <thead>
            <tr>
                <th>{{ knp_pagination_sortable(pagination, 'Id'|trans, 'task.id') }}</th>
                <th>{{ knp_pagination_sortable(pagination, 'Created at'|trans, 'task.createdAt') }}</th>
                <th>{{ knp_pagination_sortable(pagination, 'Updated at'|trans, 'task.updatedAt') }}</th>
                <th>{{ knp_pagination_sortable(pagination, 'Title'|trans, 'task.title') }}</th>
                <th>{{ knp_pagination_sortable(pagination, 'Category'|trans, 'category.title') }}</th>
                <th>{{ knp_pagination_sortable(pagination, 'Tags'|trans, 'tag.title') }}</th>
                <th>{{ 'Actions'|trans }}</th>
            </tr>
            </thead>
            <tbody>
            {% for task in pagination.items %}
                <tr>
                    <td>{{ task.id }}</td>
                    <td>{{ task.createdAt|format_date('long') }}</td>
                    <td>{{ task.updatedAt|format_date('long') }}</td>
                    <td>{{ task.title }}</td>
                    <td>
                        <a class="btn btn-outline-info" href="{{ url('category_show', {id: task.category.id}) }}">{{ task.category.title }}</a>
                    </td>
                    <td>
                            {% for tag in task.tags %}
                                <a class="btn btn-outline-dark" href="{{ url('tag_show', {id: tag.id}) }}">{{ tag.title }}</a>
                            {% endfor %}
                    </td>
                    <td>
                        {# {% if is_granted('VIEW', task) %} #}
                            <a class="btn btn-outline-primary" href="{{ url('task_show', {id: task.id}) }}" title="{{ 'action.show'|trans }}">
                                {{ 'Show'|trans }}
                            </a>
                        {# {% endif %} #}
                        {# {% if is_granted('EDIT', task) %} #}
                        {% if is_granted('ROLE_ADMIN') %}
                            <a class="btn btn-outline-success" href="{{ url('task_edit', {id: task.id}) }}" title="{{ 'action.edit'|trans }}">
                                {{ 'Edit'|trans }}
                            </a>
                         {% endif %}
                        {# {% if is_granted('DELETE', task) %} #}
                        {% if is_granted('ROLE_ADMIN') %}
                            <a class="btn btn-outline-danger" href="{{ url('task_delete', {id: task.id}) }}" title="{{ 'action.delete'|trans }}">
                                {{ 'Delete'|trans }}
                            </a>
                         {% endif %}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

        <div class="navigation text-center">
            {{ knp_pagination_render(pagination) }}
        </div>

    {% else %}
        <p>
            {{ 'message.empty_list'|trans }}
        </p>
    {% endif %}
{% endblock %}