{% extends 'base.html.twig' %}

{% block title %}
    {{ 'title.task_details'|trans({'%id%': task.id|default('')}) }}
{% endblock %}

{% block body %}
    <h1>{{ 'title.task_details'|trans({'%id%': task.id|default('')}) }}</h1>
    {% if task is defined and task|length %}
        <dl class="dl-horizontal">
    {% if is_granted('ROLE_ADMIN') %}
            <dt>{{ 'label.id'|trans }}</dt>
            <dd>{{ task.id }}</dd>
            {% endif %}
            <dt>{{ 'label.created_at'|trans }}</dt>
            <dd>{{ task.createdAt|format_date('long') }}</dd>
            <dt>{{ 'label.updated_at'|trans }}</dt>
            <dd>{{ task.updatedAt|format_date('long') }}</dd>
            <dt>{{ 'label.title'|trans }}</dt>
            <dd>{{  task.title }}</dd>
            <dt>{{ 'label.content'|trans }}</dt>
            <dd>{{  task.content }}</dd>
            <dt>{{ 'label.category'|trans }}</dt>
            <dd><a class="btn btn-outline-info" href="{{ url('category_show', {id: task.category.id}) }}">{{  task.category.title }}</a></dd>
            <dt>{{ 'label.tag'|trans }}</dt>
            <dd>
            {% for tag in task.tags %}
                <a class="btn btn-outline-dark" href="{{ url('tag_show', {id: tag.id}) }}">{{ tag.title }}</a>
            {% endfor %}
            </dd>
        </dl>
        <p>
            <a class="btn btn-secondary btn-sm" href="{{ url('task_index') }}" title="{{ 'action.back_to_list'|trans }}">
                {{ 'action.back_to_list'|trans }}
            </a>
        </p>

        {% if is_granted('ROLE_USER') %}
            <div class="text-center">
                <a class="btn btn-primary btn-lg" href="{{ url('comment_create', {id: task.id}) }}" title="{{ 'action.create'|trans }}">
                    {{ 'Comment'|trans }}
                </a>
            </div>
        {% endif %}


        <h2>{{ 'Comments List'|trans }}</h2>
        {% if pagination is defined and pagination.items|length %}

            <div class="navigation text-center">
                {{ knp_pagination_render(pagination) }}
            </div>

            <table class="table table-striped">
                <thead>
                <tr>
                    <th>{{ knp_pagination_sortable(pagination, 'Id'|trans, 'comment.id') }}</th>
                    <th>{{ knp_pagination_sortable(pagination, 'Created at'|trans, 'comment.createdAt') }}</th>
                    <th>{{ knp_pagination_sortable(pagination, 'Updated at'|trans, 'comment.updatedAt') }}</th>
                    <th>{{ knp_pagination_sortable(pagination, 'Title'|trans, 'comment.title') }}</th>
                    <th>{{ knp_pagination_sortable(pagination, 'Author'|trans, 'comment.author') }}</th>
                    <th>{{ knp_pagination_sortable(pagination, 'Task'|trans, 'task.title') }}</th>
                    <th>{{ 'Actions'|trans }}</th>
                </tr>
                </thead>
                <tbody>
                {% for comment in pagination.items %}
                    <tr>
                        <td>{{ comment.id }}</td>
                        <td>{{ comment.createdAt|format_date('long') }}</td>
                        <td>{{ comment.updatedAt|format_date('long') }}</td>
                        <td>{{ comment.title }}</td>
                        <td>
                            <a class="btn btn-outline-secondary" href="{{ url('user_show', {id: comment.author.id}) }}">{{ comment.author }}</a>
                        </td>
                        <td>
                            <a class="btn btn-outline-success" href="{{ url('task_show', {id: comment.task.id}) }}">{{ comment.task.title }}</a>
                        </td>
                        <td>
                            <a class="btn btn-outline-primary" href="{{ url('comment_show', {id: comment.id}) }}" title="{{ 'action.show'|trans }}">
                                {{ 'Show'|trans }}
                            </a>
                            {% if is_granted('EDIT', comment) %}
                                <a class="btn btn-outline-success" href="{{ url('comment_edit', {id: comment.id}) }}" title="{{ 'action.edit'|trans }}">
                                    {{ 'Edit'|trans }}
                                </a>
                            {% endif %}
                            {% if is_granted('DELETE', comment) or is_granted('ROLE_ADMIN') %}
                                <a class="btn btn-outline-danger" href="{{ url('comment_delete', {id: comment.id}) }}" title="{{ 'action.delete'|trans }}">
                                    {{ 'Delete'|trans }}
                                </a>
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>

            <div class="navigation text-center">
                {{ knp_pagination_render(pagination) }}
            </div>

        {% else %}
            <p>
                {{ 'There are no comments'|trans }}
            </p>
        {% endif %}

    {% else %}
        <p>
            {{ 'message.record_not_found'|trans }}
        </p>
    {% endif %}
{% endblock %}